# Analysis

## Load the data

In [76]:
import pandas as pd
import pandasql as psql
import numpy as np
from datetime import datetime
import json

# By Defaults pandas shows only 20 columns, so we will set the max columns display to None
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [77]:
users=pd.read_json('https://raw.githubusercontent.com/Rashmi0206/User-Analysis/main/users.json',lines=True)
receipts=pd.read_json('https://raw.githubusercontent.com/Rashmi0206/User-Analysis/main/receipts.json',lines=True)
brands=pd.read_json('https://raw.githubusercontent.com/Rashmi0206/User-Analysis/main/brands.json',lines=True)
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

# 1. Review Existing Unstructured Data and Diagram a New Structured Relational Data Model

## a. Users Data

Lets start  by looking at first few rows of users data, total number of rows and columns and information of the columns

In [78]:
# look at first few rows
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI

In [79]:
#look at dataframe shape
users.shape

(495, 7)

In [80]:
# look at the columns and datatypes
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

I observe that there are few dict type of columns that have null values. This will create issue in extracting values of such dict columns.
Hence I will create a UDF to check null and return none as values

In [81]:
# Create function to check nulls in the dict type columns and return none for value

def CheckAndGetNull(x, key):
    if (type(x)==dict) and (key in x):
        return x[key]
    else:
        return None

Also, looks like the timestamp is in miliseconds and has nan values too, hence i will create UDF to check that and return timestamp in seconds

In [82]:
# Create function to check null timestamp and to return seconds
def TimestampToDate(x):
    if x is None or np.isnan(x):
        return None
    else:
        return datetime.fromtimestamp(x//1000)

Now I will extract id, createddate and lastlogin values from the dictionary and also use the udfs to take care of data issues

In [83]:
users['id']= users['_id'].apply(lambda x: x['$oid'])
users['created_Date']= users['createdDate'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
users['last_Login']=users['lastLogin'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
users.head()

,_id,active,createdDate,lastLogin,role,signUpSource,state,id,created_Date,last_Login
0,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 10:24:04,2021-01-03 10:25:37
1,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 10:24:04,2021-01-03 10:25:37
2,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 10:24:04,2021-01-03 10:25:37
3,{'$oid': '5ff1e1eacfcf6c399c274ae6'},True,{'$date': 1609687530554},{'$date': 1609687530597},consumer,Email,WI,5ff1e1eacfcf6c399c274ae6,2021-01-03 10:25:30,2021-01-03 10:25:30
4,{'$oid': '5ff1e194b6a9d73a3a9f1052'},True,{'$date': 1609687444800},{'$date': 1609687537858},consumer,Email,WI,5ff1e194b6a9d73a3a9f1052,2021-01-03 10:24:04,2021-01-03 10:25:37

Now I will drop the non-required columns. i also noticed some duplicates in the table which I will drop as well. This will be the finalized user table in the ER diagram

In [84]:
users=users[['id', 'active', 'created_Date', 'last_Login', 'role', 'signUpSource',
       'state']].drop_duplicates()
users.head()

,id,active,created_Date,last_Login,role,signUpSource,state
0,5ff1e194b6a9d73a3a9f1052,True,2021-01-03 10:24:04,2021-01-03 10:25:37,consumer,Email,WI
3,5ff1e1eacfcf6c399c274ae6,True,2021-01-03 10:25:30,2021-01-03 10:25:30,consumer,Email,WI
6,5ff1e1e8cfcf6c399c274ad9,True,2021-01-03 10:25:28,2021-01-03 10:25:28,consumer,Email,WI
7,5ff1e1b7cfcf6c399c274a5a,True,2021-01-03 10:24:39,2021-01-03 10:24:39,consumer,Email,WI
9,5ff1e1f1cfcf6c399c274b0b,True,2021-01-03 10:25:37,2021-01-03 10:25:37,consumer,Email,WI

## b. Receipts data

Similarly, lets start by looking at first few rows of receipts data, total number of rows and columns and information of the columns

In [85]:
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052

In [86]:
receipts.shape

(1119, 15)

In [87]:
receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    float64
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    float64
 14  userId                   1119 non-null   object
dtypes: float64(4), object(11)
memory usage: 131.3+ KB

Again, there are nan values in few columns of receipts data. With help of UDFs created, I will get values for all such fields as below

In [88]:

receipts['id']= receipts['_id'].apply(lambda x: x['$oid'])
receipts['create_Date']= receipts['createDate'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
receipts['date_Scanned']= receipts['dateScanned'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
receipts['finished_Date']= receipts['finishedDate'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
receipts['modify_Date']= receipts['modifyDate'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
receipts['points_AwardedDate']= receipts['pointsAwardedDate'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
receipts['purchase_Date']= receipts['purchaseDate'].apply(lambda x: CheckAndGetNull(x, '$date')).apply(TimestampToDate)
receipts.head()

,_id,bonusPointsEarned,bonusPointsEarnedReason,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,pointsEarned,purchaseDate,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,id,create_Date,date_Scanned,finished_Date,modify_Date,points_AwardedDate,purchase_Date
0,{'$oid': '5ff1e1eb0a720f0523000575'},500.0,"Receipt number 2 completed, bonus point schedu...",{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687531000},{'$date': 1609687536000},{'$date': 1609687531000},500.0,{'$date': 1609632000000},5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.0,5ff1e1eacfcf6c399c274ae6,5ff1e1eb0a720f0523000575,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:31,2021-01-03 10:25:36,2021-01-03 10:25:31,2021-01-02 19:00:00
1,{'$oid': '5ff1e1bb0a720f052300056b'},150.0,"Receipt number 5 completed, bonus point schedu...",{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687483000},{'$date': 1609687488000},{'$date': 1609687483000},150.0,{'$date': 1609601083000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.0,5ff1e194b6a9d73a3a9f1052,5ff1e1bb0a720f052300056b,2021-01-03 10:24:43,2021-01-03 10:24:43,2021-01-03 10:24:43,2021-01-03 10:24:48,2021-01-03 10:24:43,2021-01-02 10:24:43
2,{'$oid': '5ff1e1f10a720f052300057a'},5.0,All-receipts receipt bonus,{'$date': 1609687537000},{'$date': 1609687537000},NaN,{'$date': 1609687542000},NaN,5.0,{'$date': 1609632000000},1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.0,5ff1e1f1cfcf6c399c274b0b,5ff1e1f10a720f052300057a,2021-01-03 10:25:37,2021-01-03 10:25:37,NaT,2021-01-03 10:25:42,NaT,2021-01-02 19:00:00
3,{'$oid': '5ff1e1ee0a7214ada100056f'},5.0,All-receipts receipt bonus,{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687534000},{'$date': 1609687539000},{'$date': 1609687534000},5.0,{'$date': 1609632000000},4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.0,5ff1e1eacfcf6c399c274ae6,5ff1e1ee0a7214ada100056f,2021-01-03 10:25:34,2021-01-03 10:25:34,2021-01-03 10:25:34,2021-01-03 10:25:39,2021-01-03 10:25:34,2021-01-02 19:00:00
4,{'$oid': '5ff1e1d20a7214ada1000561'},5.0,All-receipts receipt bonus,{'$date': 1609687506000},{'$date': 1609687506000},{'$date': 1609687511000},{'$date': 1609687511000},{'$date': 1609687506000},5.0,{'$date': 1609601106000},2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.0,5ff1e194b6a9d73a3a9f1052,5ff1e1d20a7214ada1000561,2021-01-03 10:25:06,2021-01-03 10:25:06,2021-01-03 10:25:11,2021-01-03 10:25:11,2021-01-03 10:25:06,2021-01-02 10:25:06

* The column 'rewardsReceiptItemList' is actually as list of dictionaries. From the data dictionary, it looks like a list of all items in the a receipt and information on those items.

* From usablity perspective, it is best to create a new table from this column and also bring in the 'id' field as an identifier to join with the main receipt table.

In [89]:
receipts_item_list = receipts[['id','rewardsReceiptItemList']]

receipts= receipts[['id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'create_Date', 'date_Scanned', 'finished_Date',
       'modify_Date', 'points_AwardedDate', 'purchase_Date', 'purchasedItemCount','rewardsReceiptStatus', 'totalSpent','userId']]

In [90]:
# lets look at the info fields in the 'rewardsReceiptItemList'
receipts_item_list['rewardsReceiptItemList'].head(1).values

array([list([{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '26.00', 'itemPrice': '26.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 5, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '26.00', 'userFlaggedQuantity': 5}])],
      dtype=object)

In [91]:
# since the dictionaries are in a list, we will first need to 'explode' the list to access the dict
receipts_item_list_final=receipts_item_list.explode('rewardsReceiptItemList')

* Now, I will extract all the dict values from the 'rewardsReceiptItemList' and create individual columns. 
* I will also add 'receipt_id' from 'id' field in receipts as joinable key.

In [92]:
receipts_item_list_final['receipt_id']=receipts_item_list_final['id']
receipts_item_list_final['barcode']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'barcode'))
receipts_item_list_final['description']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'description'))
receipts_item_list_final['finalPrice']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'finalPrice'))
receipts_item_list_final['itemPrice']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'itemPrice'))
receipts_item_list_final['needsFetchReview']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'needsFetchReview'))
receipts_item_list_final['partnerItemId']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'partnerItemId'))
receipts_item_list_final['preventTargetGapPoints']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'preventTargetGapPoints'))
receipts_item_list_final['quantityPurchased']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'quantityPurchased'))
receipts_item_list_final['userFlaggedBarcode']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'userFlaggedBarcode'))
receipts_item_list_final['userFlaggedNewItem']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'userFlaggedNewItem'))
receipts_item_list_final['userFlaggedPrice']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'userFlaggedPrice'))
receipts_item_list_final['userFlaggedQuantity']= receipts_item_list_final['rewardsReceiptItemList'].apply(lambda x: CheckAndGetNull(x, 'userFlaggedQuantity'))

Now I will drop the non-required columns. There are no duplicates in the table. This will be the finalized receipt_item_list table in the ER diagram

In [95]:
receipts_item_list.shape

(7381, 13)

In [96]:
receipts_item_list.drop_duplicates().shape

(7381, 13)

In [93]:
#lets keep the required fields in the receipts_item_list
receipts_item_list=receipts_item_list_final[['receipt_id','barcode', 'description', 'finalPrice',
       'itemPrice', 'needsFetchReview', 'partnerItemId',
       'preventTargetGapPoints', 'quantityPurchased', 'userFlaggedBarcode',
       'userFlaggedNewItem', 'userFlaggedPrice', 'userFlaggedQuantity']]

In [94]:
receipts_item_list.head()

,receipt_id,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity
0,5ff1e1eb0a720f0523000575,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0
1,5ff1e1bb0a720f052300056b,4011,ITEM NOT FOUND,1,1,None,1,None,1.0,None,None,None,NaN
1,5ff1e1bb0a720f052300056b,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0
2,5ff1e1f10a720f052300057a,None,None,None,None,False,1,True,NaN,4011,True,26.00,3.0
3,5ff1e1ee0a7214ada100056f,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0

Similary, lets keep the required columns in the main Receipts dataframe. There are no duplicates. This is the receipts table in the ER diagram

In [ ]:
receipts= receipts[['id', 'bonusPointsEarned', 'bonusPointsEarnedReason', 'create_Date', 'date_Scanned', 'finished_Date',
       'modify_Date', 'points_AwardedDate', 'purchase_Date', 'purchasedItemCount','rewardsReceiptStatus', 'totalSpent','userId']]

In [97]:
receipts.shape

(1119, 13)

In [98]:
receipts.drop_duplicates().shape

(1119, 13)

## c. Brands data

Similar to other datasets, I explored the brand data

In [21]:
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827

In [22]:
brands.shape

(1167, 8)

In [23]:
brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   int64
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    float64
 7   brandCode     933 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 73.1+ KB

* Again, there are nan values, which I will deal with by using the UDfs.
* The cpg column is different since it is a dict of dict. Hence I will get 'id' value from 'oid' key

In [99]:
brands['id']= brands['_id'].apply(lambda x: CheckAndGetNull(x, '$oid'))
brands['cpg_id']= brands['cpg'].apply(lambda x: x['$id']['$oid'])
brands['cpg_ref']= brands['cpg'].apply(lambda x: CheckAndGetNull(x, '$ref'))
brands.head()

,_id,barcode,category,categoryCode,cpg,name,topBrand,brandCode,id,cpg_id,cpg_ref
0,{'$oid': '601ac115be37ce2ead437551'},511111019862,Baking,BAKING,"{'$id': {'$oid': '601ac114be37ce2ead437550'}, ...",test brand @1612366101024,0.0,NaN,601ac115be37ce2ead437551,601ac114be37ce2ead437550,Cogs
1,{'$oid': '601c5460be37ce2ead43755f'},511111519928,Beverages,BEVERAGES,"{'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...",Starbucks,0.0,STARBUCKS,601c5460be37ce2ead43755f,5332f5fbe4b03c9a25efd0ba,Cogs
2,{'$oid': '601ac142be37ce2ead43755d'},511111819905,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,601ac142be37ce2ead43755d,601ac142be37ce2ead437559,Cogs
3,{'$oid': '601ac142be37ce2ead43755a'},511111519874,Baking,BAKING,"{'$id': {'$oid': '601ac142be37ce2ead437559'}, ...",test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,601ac142be37ce2ead43755a,601ac142be37ce2ead437559,Cogs
4,{'$oid': '601ac142be37ce2ead43755e'},511111319917,Candy & Sweets,CANDY_AND_SWEETS,"{'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...",test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,601ac142be37ce2ead43755e,5332fa12e4b03c9a25efd1e7,Cogs

Lets keep the required columns in the brand table. This will be the brand table in the ER diagram

In [100]:
brands=brands[['id','barcode', 'category', 'categoryCode', 'name', 'topBrand',
       'brandCode', 'cpg_id', 'cpg_ref']]
brands.head()

,id,barcode,category,categoryCode,name,topBrand,brandCode,cpg_id,cpg_ref
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,0.0,NaN,601ac114be37ce2ead437550,Cogs
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,0.0,STARBUCKS,5332f5fbe4b03c9a25efd0ba,Cogs
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,0.0,TEST BRANDCODE @1612366146176,601ac142be37ce2ead437559,Cogs
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,0.0,TEST BRANDCODE @1612366146051,601ac142be37ce2ead437559,Cogs
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,0.0,TEST BRANDCODE @1612366146827,5332fa12e4b03c9a25efd1e7,Cogs

In [101]:
brands.shape

(1167, 9)

In [103]:
brands.drop_duplicates().shape

(1167, 9)

# 2.  Write a query that directly answers a predetermined question from a business stakeholder

From the data dictionary provided, the most reasonable way to connect brand table with receipts is through bracode fields in brand table and barcode field in receipt_item_list table. There are no other item identifier to connect brand with item and then back to receipt.
However there are issues as listed below:

* The length of barcode in brand table is 12 , but the length of barcode field in receipt_item_list is varying. Only 523 barcodes have length 12:

In [105]:
# count of barcodes by barcode length in receipt_item_list
print(psql.sqldf("select count(distinct(barcode)) as count_of_barcodes,length(barcode) as barcode_length from receipts_item_list group by length(barcode) "))

   count_of_barcodes  barcode_length
0                  0             NaN
1                  1             2.0
2                 29             4.0
3                  2             5.0
4                  4            10.0
5                  6            11.0
6                523            12.0
7                  3            13.0

In [107]:
# count of barcodes by barcode length in brand
print(psql.sqldf("select distinct length(barcode) as barcode_length from brands_final "))

   barcode_length
0              12

* Looking deeper into the barcodes in brand, there are 1160 unique barcodes all of which have length 12 and start with '511111'. 
* On the other hand, only 16 of 569 unique barcodes in receipt_detail_list start with '511111'

In [115]:
#unique barcodes in brands
print(psql.sqldf("select distinct barcode from brands"))

           barcode
0     511111019862
1     511111519928
2     511111819905
3     511111519874
4     511111319917
5     511111719885
6     511111219897
7     511111104810
8     511111504412
9     511111504788
10    511111516354
11    511111102540
12    511111201076
13    511111205012
14    511111801801
15    511111202233
16    511111817376
17    511111515319
18    511111317364
19    511111300700
20    511111305125
21    511111005650
22    511111802129
23    511111303947
24    511111802914
25    511111914549
26    511111400769
27    511111105329
28    511111316114
29    511111315957
30    511111201915
31    511111518112
32    511111506249
33    511111916161
34    511111103653
35    511111100621
36    511111305910
37    511111115366
38    511111718079
39    511111818182
40    511111504627
41    511111301691
42    511111101178
43    511111503699
44    511111505365
45    511111405252
46    511111104025
47    511111317203
48    511111900337
49    511111302629
50    511111704935
51    511111902188
52    511111004844
53    511111100904
54    511111115083
55    511111603870
56    511111103141
57    511111315513
58    511111106876
59    511111115649
60    511111204206
61    511111102618
62    511111415626
63    511111306887
64    511111805854
65    511111104537
66    511111404392
67    511111615583
68    511111117841
69    511111602279
70    511111318194
71    511111114413
72    511111706045
73    511111717317
74    511111903789
75    511111417262
76    511111004561
77    511111702894
78    511111002154
79    511111115922
80    511111602552
81    511111200246
82    511111802280
83    511111604037
84    511111806226
85    511111118169
86    511111304265
87    511111500735
88    511111103936
89    511111704584
90    511111017899
91    511111715320
92    511111000723
93    511111200529
94    511111116684
95    511111003199
96    511111117070
97    511111301974
98    511111816492
99    511111903413
100   511111704379
101   511111004288
102   511111215547
103   511111015970
104   511111002437
105   511111500506
106   511111702177
107   511111115717
108   511111600633
109   511111801757
110   511111101666
111   511111704867
112   511111217251
113   511111803232
114   511111502708
115   511111001119
116   511111101895
117   511111002642
118   511111403913
119   511111315728
120   511111505433
121   511111005582
122   511111613961
123   511111217305
124   511111802075
125   511111716150
126   511111104698
127   511111417330
128   511111303893
129   511111504139
130   511111003243
131   511111002208
132   511111600794
133   511111600848
134   511111305569
135   511111404002
136   511111701859
137   511111505716
138   511111501107
139   511111800873
140   511111000518
141   511111305408
142   511111300656
143   511111005216
144   511111817932
145   511111715047
146   511111202677
147   511111603719
148   511111215103
149   511111005148
150   511111013914
151   511111303220
152   511111204923
153   511111601449
154   511111502586
155   511111404446
156   511111717966
157   511111215615
158   511111816775
159   511111717249
160   511111217749
161   511111300588
162   511111713937
163   511111801962
164   511111605829
165   511111615095
166   511111917045
167   511111501497
168   511111516910
169   511111803393
170   511111316480
171   511111604525
172   511111202448
173   511111703617
174   511111403289
175   511111201403
176   511111700814
177   511111805786
178   511111419532
179   511111619543
180   511111719519
181   511111119555
182   511111919520
183   511111219507
184   511111219385
185   511111119326
186   511111719397
187   511111501985
188   511111400998
189   511111015697
190   511111216094
191   511111300212
192   511111001768
193   511111217817
194   511111605058
195   511111402961
196   511111216148
197   511111316763
198   511111616467
199   511111704706
200   511111218135
201   511111505921
202   511111901426
203   511111417101
204   511111400042
205   511111817147
206   511111819417
207   511111519430
208   511111819349
209   511111619338
210   511111519362
211   511111019374
212   511111019428
213   511111319351
214   511111319405
215   511111118886
216   511111718840
217   511111418863
218   511111218852
219   511111918875
220   511111618898
221   511111518327
222   511111318316
223   511111818304
224   511111218340
225   511111018339
226   511111618171
227   511111702948
228   511111701415
229   511111403630
230   511111301813
231   511111903130
232   511111715481
233   511111616696
234   511111301028
235   511111115595
236   511111302063
237   511111403401
238   511111901938
239   511111401087
240   511111815891
241   511111206262
242   511111105602
243   511111601883
244   511111818021
245   511111812449
246   511111502371
247   511111006022
248   511111405740
249   511111217695
250   511111317432
251   511111417545
252   511111917601
253   511111817581
254   511111217466
255   511111417613
256   511111417491
257   511111705161
258   511111902461
259   511111815501
260   511111717195
261   511111603153
262   511111404163
263   511111405818
264   511111605614
265   511111600404
266   511111801528
267   511111502098
268   511111105763
269   511111317920
270   511111005421
271   511111501770
272   511111602996
273   511111917762
274   511111500667
275   511111202721
276   511111700029
277   511111414049
278   511111801689
279   511111416500
280   511111805410
281   511111804994
282   511111903901
283   511111904731
284   511111205739
285   511111716921
286   511111400110
287   511111902744
288   511111001607
289   511111803164
290   511111703051
291   511111617297
292   511111203483
293   511111404880
294   511111905967
295   511111001485
296   511111317081
297   511111501824
298   511111516569
299   511111204435
300   511111304494
301   511111901099
302   511111314653
303   511111818977
304   511111318965
305   511111018988
306   511111719007
307   511111518990
308   511111219019
309   511111718918
310   511111918929
311   511111118954
312   511111218906
313   511111618942
314   511111418931
315   511111004639
316   511111318521
317   511111118510
318   511111518488
319   511111618508
320   511111018490
321   511111005933
322   511111215981
323   511111715993
324   511111117407
325   511111705000
326   511111002598
327   511111806172
328   511111515968
329   511111804048
330   511111617341
331   511111200802
332   511111502425
333   511111305637
334   511111117124
335   511111904229
336   511111902256
337   511111204367
338   511111914051
339   511111415060
340   511111502869
341   511111515036
342   511111206101
343   511111700531
344   511111502142
345   511111915799
346   511111814641
347   511111301301
348   511111700975
349   511111703778
350   511111400486
351   511111405535
352   511111905196
353   511111215332
354   511111900986
355   511111800156
356   511111103370
357   511111104469
358   511111104186
359   511111606376
360   511111603641
361   511111415855
362   511111800590
363   511111406341
364   511111504856
365   511111015185
366   511111715276
367   511111015536
368   511111902690
369   511111906124
370   511111804116
371   511111516842
372   511111317159
373   511111704218
374   511111815945
375   511111901860
376   511111815457
377   511111718123
378   511111903062
379   511111104254
380   511111316046
381   511111602040
382   511111316602
383   511111418092
384   511111916727
385   511111904175
386   511111803720
387   511111315889
388   511111919803
389   511111203278
390   511111917328
391   511111601395
392   511111101451
393   511111703334
394   511111705727
395   511111302414
396   511111916512
397   511111815389
398   511111100065
399   511111404958
400   511111905684
401   511111915911
402   511111301530
403   511111515685
404   511111916956
405   511111101222
406   511111400271
407   511111805137
408   511111617785
409   511111005094
410   511111203117
411   511111319849
412   511111605102
413   511111100294
414   511111215493
415   511111001836
416   511111105114
417   511111617068
418   511111516286
419   511111415343
420   511111000679
421   511111805908
422   511111900108
423   511111105046
424   511111702450
425   511111515197
426   511111208532
427   511111903857
428   511111506317
429   511111801313
430   511111918363
431   511111718406
432   511111418375
433   511111518044
434   511111618386
435   511111118398
436   511111918646
437   511111518600
438   511111218623
439   511111418658
440   511111018612
441   511111718635
442   511111818748
443   511111518761
444   511111018773
445   511111618737
446   511111318750
447   511111118725
448   511111705673
449   511111019657
450   511111319634
451   511111719670
452   511111519645
453   511111219668
454   511111819622
455   511111216865
456   511111803515
457   511111506034
458   511111316831
459   511111904502
460   511111100782
461   511111402527
462   511111500384
463   511111217978
464   511111502210
465   511111004790
466   511111806011
467   511111715115
468   511111205173
469   511111901709
470   511111517009
471   511111500223
472   511111303381
473   511111106159
474   511111515241
475   511111304616
476   511111016137
477   511111217022
478   511111602118
479   511111616740
480   511111517160
481   511111304333
482   511111703983
483   511111615934
484   511111816829
485   511111801245
486   511111304777
487   511111415572
488   511111201632
489   511111103868
490   511111505150
491   511111003311
492   511111015024
493   511111901655
494   511111500018
495   511111816614
496   511111802563
497   511111415299
498   511111304104
499   511111000440
500   511111700258
501   511111416661
502   511111501336
503   511111401872
504   511111305286
505   511111105992
506   511111706113
507   511111303503
508   511111915638
509   511111805342
510   511111318033
511   511111003038
512   511111615866
513   511111901587
514   511111503743
515   511111504573
516   511111016342
517   511111017226
518   511111704423
519   511111803881
520   511111215264
521   511111302292
522   511111001324
523   511111002871
524   511111804833
525   511111906070
526   511111116806
527   511111302575
528   511111016908
529   511111805571
530   511111816102
531   511111418214
532   511111800644
533   511111715603
534   511111716716
535   511111604471
536   511111814085
537   511111205388
538   511111206057
539   511111715832
540   511111419303
541   511111019213
542   511111919315
543   511111119272
544   511111319283
545   511111619260
546   511111219224
547   511111919247
548   511111719236
549   511111419259
550   511111819295
551   511111118442
552   511111918431
553   511111618454
554   511111318477
555   511111818465
556   511111218418
557   511111418429
558   511111517726
559   511111003687
560   511111815730
561   511111700302
562   511111506195
563   511111101949
564   511111600565
565   511111600077
566   511111802358
567   511111404729
568   511111315674
569   511111918202
570   511111406136
571   511111605546
572   511111306009
573   511111003809
574   511111302858
575   511111903628
576   511111415411
577   511111806899
578   511111301745
579   511111316558
580   511111915843
581   511111016069
582   511111315445
583   511111502937
584   511111304982
585   511111303459
586   511111017738
587   511111402756
588   511111403357
589   511111016571
590   511111815662
591   511111102106
592   511111616818
593   511111915287
594   511111902027
595   511111016786
596   511111002925
597   511111416739
598   511111315162
599   511111705444
600   511111800439
601   511111605775
602   511111618010
603   511111916000
604   511111215776
605   511111205890
606   511111416388
607   511111816331
608   511111606147
609   511111515470
610   511111604808
611   511111602835
612   511111904458
613   511111216377
614   511111303176
615   511111216216
616   511111306160
617   511111700746
618   511111501268
619   511111300427
620   511111202004
621   511111603207
622   511111702504
623   511111015253
624   511111104971
625   511111704652
626   511111116196
627   511111302902
628   511111117353
629   511111004073
630   511111516408
631   511111116967
632   511111901372
633   511111115878
634   511111403074
635   511111002710
636   511111917991
637   511111106203
638   511111603597
639   511111515524
640   511111103707
641   511111215059
642   511111505877
643   511111802402
644   511111503460
645   511111615378
646   511111302780
647   511111317876
648   511111117797
649   511111106364
650   511111915355
651   511111803959
652   511111705512
653   511111103219
654   511111905240
655   511111016625
656   511111802631
657   511111004400
658   511111602606
659   511111304821
660   511111300861
661   511111916888
662   511111015307
663   511111616184
664   511111602323
665   511111805625
666   511111603924
667   511111200963
668   511111204879
669   511111301462
670   511111001553
671   511111106081
672   511111405696
673   511111503255
674   511111901143
675   511111400837
676   511111804277
677   511111917274
678   511111305071
679   511111100850
680   511111701064
681   511111316329
682   511111716877
683   511111503972
684   511111705888
685   511111503187
686   511111604242
687   511111601234
688   511111716433
689   511111003526
690   511111802846
691   511111218067
692   511111604754
693   511111115205
694   511111000884
695   511111601517
696   511111703549
697   511111100348
698   511111203605
699   511111902300
700   511111517238
701   511111616306
702   511111415138
703   511111018100
704   511111902973
705   511111015819
706   511111702016
707   511111203049
708   511111302131
709   511111017387
710   511111017011
711   511111400325
712   511111505204
713   511111016298
714   511111602484
715   511111300144
716   511111000952
717   511111601722
718   511111701620
719   511111702665
720   511111604969
721   511111504061
722   511111117919
723   511111504290
724   511111916444
725   511111705390
726   511111603368
727   511111817093
728   511111703266
729   511111203551
730   511111504900
731   511111915126
732   511111406297
733   511111105480
734   511111600282
735   511111800361
736   511111004912
737   511111619826
738   511111401360
739   511111915560
740   511111602767
741   511111804321
742   511111618225
743   511111402800
744   511111815228
745   511111006305
746   511111516125
747   511111500896
748   511111700463
749   511111817703
750   511111817659
751   511111517672
752   511111717683
753   511111517511
754   511111017660
755   511111017509
756   511111317593
757   511111817420
758   511111617419
759   511111917489
760   511111017455
761   511111717478
762   511111117636
763   511111317647
764   511111217534
765   511111115434
766   511111215820
767   511111800200
768   511111903291
769   511111201793
770   511111816546
771   511111216421
772   511111701903
773   511111616979
774   511111006183
775   511111406068
776   511111516071
777   511111616023
778   511111402688
779   511111118237
780   511111503026
781   511111617624
782   511111104742
783   511111604198
784   511111416227
785   511111402039
786   511111402312
787   511111704096
788   511111915072
789   511111200475
790   511111517443
791   511111318682
792   511111618669
793   511111818694
794   511111918714
795   511111118671
796   511111418702
797   511111719441
798   511111619499
799   511111219453
800   511111119487
801   511111419464
802   511111919476
803   511111214038
804   511111803003
805   511111705239
806   511111614074
807   511111900825
808   511111615422
809   511111516798
810   511111015468
811   511111116240
812   511111715764
813   511111615217
814   511111200680
815   511111716082
816   511111305842
817   511111601005
818   511111201359
819   511111200031
820   511111201564
821   511111604310
822   511111804550
823   511111316992
824   511111203322
825   511111801191
826   511111100416
827   511111916390
828   511111902539
829   511111216650
830   511111102823
831   511111204596
832   511111116479
833   511111905035
834   511111706274
835   511111905752
836   511111102267
837   511111904892
838   511111318804
839   511111818816
840   511111718796
841   511111416456
842   511111314097
843   511111118008
844   511111701781
845   511111405979
846   511111006251
847   511111700180
848   511111304050
849   511111101734
850   511111915409
851   511111703822
852   511111700692
853   511111402190
854   511111402473
855   511111717805
856   511111305354
857   511111004356
858   511111018827
859   511111218784
860   511111518839
861   511111114062
862   511111318248
863   511111818250
864   511111018261
865   511111518273
866   511111718284
867   511111519591
868   511111619611
869   511111319566
870   511111819578
871   511111119609
872   511111019589
873   511111019701
874   511111419693
875   511111519713
876   511111219736
877   511111801474
878   511111702733
879   511111201847
880   511111600350
881   511111517399
882   511111001997
883   511111404514
884   511111517955
885   511111505648
886   511111615149
887   511111816058
888   511111018056
889   511111416012
890   511111201281
891   511111806387
892   511111101383
893   511111818533
894   511111518556
895   511111614630
896   511111919681
897   511111719724
898   511111018544
899   511111218579
900   511111718567
901   511111418580
902   511111918592
903   511111419747
904   511111619772
905   511111319795
906   511111119760
907   511111819783
908   511111919759
909   511111319122
910   511111119111
911   511111919193
912   511111519201
913   511111219170
914   511111019091
915   511111419181
916   511111619109
917   511111519089
918   511111819134
919   511111519157
920   511111019145
921   511111719168
922   511111819066
923   511111119043
924   511111319078
925   511111619055
926   511111419020
927   511111919032
928   511111906285
929   511111415787
930   511111701347
931   511111003755
932   511111905318
933   511111500940
934   511111116035
935   511111617907
936   511111503811
937   511111203834
938   511111216933
939   511111806509
940   511111904014
941   511111005704
942   511111017172
943   511111805069
944   511111402244
945   511111904946
946   511111900498
947   511111205456
948   511111200314
949   511111500179
950   511111501053
951   511111417057
952   511111405023
953   511111404231
954   511111005865
955   511111203766
956   511111605492
957   511111414551
958   511111501541
959   511111617136
960   511111002086
961   511111203995
962   511111416890
963   511111401438
964   511111803447
965   511111615705
966   511111317715
967   511111717522
968   511111102984
969   511111418146
970   511111902812
971   511111900269
972   511111900771
973   511111105558
974   511111312949
975   511111216582
976   511111817864
977   511111003960
978   511111102052
979   511111101505
980   511111716365
981   511111800712
982   511111201120
983   511111702382
984   511111200192
985   511111316275
986   511111301189
987   511111603436
988   511111516637
989   511111716204
990   511111800088
991   511111213925
992   511111114628
993   511111605980
994   511111200758
995   511111004127
996   511111502654
997   511111300090
998   511111704140
999   511111517887
1000  511111914105
1001  511111705956
1002  511111805298
1003  511111205227
1004  511111117285
1005  511111205661
1006  511111115151
1007  511111905806
1008  511111003472
1009  511111105831
1010  511111403791
1011  511111804765
1012  511111601678
1013  511111401599
1014  511111300939
1015  511111816263
1016  511111202950
1017  511111106432
1018  511111615651
1019  511111804604
1020  511111002369
1021  511111102779
1022  511111419815
1023  511111401643
1024  511111800927
1025  511111817215
1026  511111105275
1027  511111906353
1028  511111802792
1029  511111000167
1030  511111112938
1031  511111116523
1032  511111217183
1033  511111413950
1034  511111606093
1035  511111303664
1036  511111515753
1037  511111417989
1038  511111913948
1039  511111917113
1040  511111505594
1041  511111103097
1042  511111605263
1043  511111415909
1044  511111503309
1045  511111718352
1046  511111218296
1047  511111000235
1048  511111601166
1049  511111804482
1050  511111417774

In [114]:
# unique barcodes from receipts_item_list
print(psql.sqldf("select distinct barcode from receipts_item_list"))

           barcode
0             4011
1     028400642255
2             None
3             1234
4     046000832517
5     013562300631
6     034100573065
7     075925306254
8     041000168468
9    2700719497082
10    079400066619
11    051500720011
12    087684001127
13    071040063102
14    029000079236
15    041129002292
16    043000946060
17    044700009888
18    021000012961
19    021000678358
20    044700033302
21    021000059232
22    043000004944
23    759283400082
24    025800000135
25    043000043486
26    029000024748
27    044700002810
28    043000079904
29    044000000745
30    046704085905
31    021000057832
32    021000002917
33    044700019917
34    043000035818
35    070085046583
36    044700073377
37    021000055920
38    021000051885
39    022174070214
40    043000012871
41    043000077467
42    043000008836
43    021000068364
44    021000013869
45    044700030479
46    041258081601
47    043000075821
48    021000667543
49    013120013966
50    021000068760
51    070277290107
52    041129088005
53    013000993906
54    043000065198
55    021000050765
56    021000032778
57    043000046814
58    686924560242
59    021000051113
60    021000070787
61    043000058145
62    044700074602
63    021000007561
64    043000013229
65    043000000960
66    013000657600
67    017696004519
68    012000809941
69    028400642033
70    036000391718
71    044700092408
72    043000023440
73    029000016187
74    021000001361
75    029000020344
76    043000009604
77    021000024834
78    071159020195
79    043000204399
80    021908236865
81    043000060544
82    021000034574
83    043000057162
84    044700096284
85    686924155783
86    016000156234
87    305210154278
88    001111132666
89    089203700016
90    079400245328
91    001111147332
92    079400236425
93    016000493025
94    043000066706
95    043000000175
96    043000082294
97    043000955628
98    072785048119
99    043000206515
100   043000061978
101   044700071533
102   025800026302
103   021000007660
104   070085035006
105   686924820858
106   798813118547
107   077567000637
108   021000068159
109   021000648863
110   029000023666
111   043000078488
112   043000071182
113   043000062760
114   021000725403
115   021000024858
116   044700076422
117   051600001003
118   076840100354
119   311111511867
120   041000022623
121   076840580750
122   028435383253
123   070470137735
124   011111326231
125   043000000199
126   822142991523
127   043000043790
128   036632011077
129   075706191031
130   019600920106
131   028189000079
132   754500326305
133   058496723002
134   058449450023
135   075450093070
136   048500256763
137           4816
138           4166
139   075450120400
140   754500797204
141   075450085150
142   071007023095
143   072310001459
144   754502285808
145   041390024368
146   511111204206
147   043000716021
148   044500341720
149   754500958803
150   024105590051
151    21251000000
152           4060
153   048500052020
154           4069
155           4093
156   754500973400
157   075450079760
158   754500947807
159   039400015031
160   025500204215
161   754501311409
162   754500355602
163   018627030010
164   041000004087
165   021000604647
166   071146002487
167   754501734109
168   071430010051
169   754500638101
170   511111001485
171   305731769135
172   048000007070
173   015300430594
174   009800300037
175   754500990209
176   014113911979
177   028800296737
178   071100007299
179   036632037541
180   036632013095
181   084114111722
182   511111104537
183   014113910026
184   815473013279
185   028400643061
186   689544081937
187   037000979715
188   085718300512
189   078742112138
190   633472322587
191   029000019034
192   052100587967
193   078742348315
194   042222302005
195   681131122764
196   857484001159
197   689544083405
198   887214041018
199   045255148947
200   681131091206
201   026542084018
202   068113135477
203   041235000687
204   037466017631
205   076828048432
206   021000040247
207   021000612239
208   078000082401
209   013120014178
210   075706304783
211   036000485967
212   000980000069
213   078742052328
214   041483022226
215   078742333960
216   015800030621
217   007874242956
218   078742372198
219   754500947500
220   754501315209
221   041500220208
222   754500024805
223   754500486009
224   038000924224
225   611443010787
226   046000721835
227   014100095071
228   043000285213
229   030100001331
230   041289895406
231   021000024926
232           4759
233           3332
234           4608
235   016000363779
236   311111242129
237   754500363409
238   884912006806
239   605806001307
240   011110916600
241   082242012362
242   046000400280
243   073410955505
244   046000288697
245   511111502142
246           4225
247   075856000269
248    26623200000
249   305731769203
250             22
251   043000041994
252   043000068649
253   021000051038
254   043000063897
255   029000016705
256   044700096321
257   044700070840
258   070085038403
259   044700065617
260   043000971635
261   686924113172
262   043000075340
263   021000054862
264   021000679201
265   087684002872
266   071871542067
267   025800000524
268   013000010917
269   013000000635
270   029000021273
271   071040063188
272   021000054961
273   021000007363
274   019582000117
275   021000604906
276   021000644551
277   043000204443
278   021000029778
279   044700072813
280   044700087145
281   044700087329
282   016000151024
283   077567304124
284   044700064238
285   013120000843
286   021000006106
287   511111802358
288   012000809965
289   511111101451
290   005111116022
291   511111602118
292   311111536044
293   074682200294
294   011594404013
295   013000006187
296   021000065547
297   311111806949
298   012000810022
299   815473010360
300   013000798952
301   044700071748
302   043000032275
303   044700024119
304   028400081382
305   021000046904
306   053000069867
307   012000004919
308   815473012357
309   036000119749
310   048001154032
311   041000022906
312   016300165912
313   028400641326
314   028400003988
315   029000074361
316   043000061732
317   021000068036
318   686924291290
319   025800000159
320   021000633609
321   030000562383
322   737628011506
323   021000615315
324   015000056087
325           4068
326   021000039340
327          94094
328   896859000489
329   036000478044
330   016000496361
331   013800190215
332   048001213517
333   025500202310
334   311111452382
335   021834033316
336    23572500000
337   012000106057
338   012000000171
339   012000010736
340   043000050910
341   071100211474
342           4540
343           4090
344   612669316714
345   041129411506
346   311111603920
347   044000043254
348   048001154049
349   071100006681
350   021000065127
351   044700098752
352           4061
353   311111705006
354   044700061909
355   511111901587
356   021000026999
357           4066
358   021000701445
359           4562
360   016000877009
361   052100625348
362   025500005188
363   029000017986
364   023400022212
365   041695151721
366   071100200058
367   072310001244
368   044000034030
369   044000051051
370   072220001808
371   016000854307
372   311111434807
373   016000126855
374   020709100139
375   021000037490
376   022000014252
377   029000073692
378   511111902690
379   311111149350
380   071100309744
381   311111445421
382   041800200139
383   070158008678
384   511111704140
385   861745000010
386           4662
387   511111104186
388   041235000328
389           4614
390   013120002588
391   070492140003
392   051700788262
393   041483030917
394   311111208538
395   020169222341
396   074904100104
397   011110876942
398   011110857132
399   052100037509
400   029000016156
401   044600020020
402   041321006357
403   041695951130
404   037466016023
405   016000123151
406           4023
407           3435
408   011110973009
409   011110847454
410   034695123621
411   051611165893
412   071279275024
413   076840400218
414   071430000724
415   016000124790
416           3283
417   511111518044
418          94023
419           4072
420   013800100320
421           4563
422   070446400009
423   029000021723
424   041196277470
425   076001350437
426           4053
427   013800104083
428   071100007077
429   074714086827
430   021000744152
431   085000015889
432   046704096802
433   043000956113
434   044700075302
435   077661120460
436   034000056644
437   011110916068
438   021000069293
439   021000068883
440   025155000149
441   043000062753
442   759283001890
443   043000000342
444   016000437760
445   021000045129
446   038000052200
447   038000138577
448   041695103799
449   053800123004
450    23671200000
451   764025930000
452   889714000038
453   076840100477
454   070800179329
455   042222336413
456   012000171864
457   049000012781
458   049000010633
459   051000228895
460   078000010367
461   044000039905
462   071142004089
463   050000274444
464   071840205009
465   077661137833
466   767707013299
467   078300054764
468           4131
469   034000040476
470   021000054473
471   043000079232
472   029000020351
473   043000200520
474   044700009000
475   041129412152
476   013000798303
477   021000043552
478   087684009000
479   029000019201
480   792851356565
481   044700073933
482   043000003596
483   021000054190
484   021131506940
485   780993107565
486   074714086643
487           4135
488   857183005120
489   041449001401
490   026800001924
491    21075100000
492   041129634608
493   070221006693
494   021000642182
495   041129000052
496   021000049318
497   511111001768
498   041244000098
499   037000889427
500           4078
501   511111004127
502   511111904175
503   048001412538
504   212245400006
505   011110603746
506   011110974525
507   041260362873
508   021000658831
509           4067
510   044300107700
511   011110073747
512    20750000000
513   077298000043
514   021000068852
515   021000055005
516   044700031711
517   029000015630
518  5000111047524
519   043000081099
520   043000005217
521   049900000345
522   044700087558
523   021000037186
524   029000012578
525   025400076363
526   043000204405
527  2700710686201
528   016000147096
529   036000320893
530   036000495737
531   036000432190
532   070470400235
533   511111003960
534   043000081501
535   048121229030
536   041449402529
537   021000052363
538   043000006283
539   021000018710
540   036000162905
541   016000898264
542   007940018942
543   021000049325
544   025800020300
545   021000024582
546   600699001564
547   016000128620
548   070470149394
549   043000080443
550   013000009263
551   021000045006
552   029000019416
553   087684009338
554   021000054602
555   043000058404
556   087684004449
557   036000494129
558   021000024674
559   013000799102
560   043000048528
561   021000030453
562   071159001750
563   042800108005
564     B076FJ92M4
565     B07BRRLSVC
566     B08BGBHHP6
567     B08DQDHR2S
568   665290001184

In [113]:
# barcodes from brand matching barcodes from receipt_item_list
print(psql.sqldf("""select b.barcode,count(*) as Count from brands_final b 
                    inner join receipts_item_list rd on rd.barcode=b.barcode 
                    group by b.barcode"""))

         barcode  Count
0   511111001485     23
1   511111001768      3
2   511111003960      1
3   511111004127      4
4   511111101451      3
5   511111104186      1
6   511111104537      3
7   511111204206     11
8   511111502142      1
9   511111518044      1
10  511111602118      3
11  511111704140     14
12  511111802358     10
13  511111901587      3
14  511111902690      3
15  511111904175      5

Given the above obervation that shows that there are issues in joining brand with other tables since the barcode in receipt_item_list is not accurate, i will choose to work on below questions for business.

* When considering average spend from receipts with 'rewardsReceiptStatus of Accepted or Rejected, which is greater?
* When considering total number of items purchased from receipts with 'rewardsReceiptStatus of Accepted or Rejected, which is greater?

In [117]:
# get unique status type
print(psql.sqldf("""select distinct rewardsReceiptStatus from receipts"""))

  rewardsReceiptStatus
0             FINISHED
1             REJECTED
2              FLAGGED
3            SUBMITTED
4              PENDING

I am assuming that status as 'Finished' is accepted and 'Rejected' as rejected. Other status are not finalized yet.

In [119]:
# get avg spend and item count by status
print(psql.sqldf("""select round(avg(totalSpent),2) as AvgSpend,sum(purchasedItemCount)as TotalItems,rewardsReceiptStatus  
                    from receipts
                    where rewardsReceiptStatus in ('FINISHED','REJECTED')
                    group by rewardsReceiptStatus"""))

   AvgSpend  TotalItems rewardsReceiptStatus
0     80.85      8184.0             FINISHED
1     23.33       173.0             REJECTED

From the result, it looks like Avg spend as well as total number of items purchased of Finished is greater